# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
app/venv
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDE / Editor specific
.vscode/
.idea/

# Executables
kubectl.exe

# Environment variables
.env
*.env 